._register {
  .register_form {
    input::placeholder {
      font-family: PingFangSC-Regular;
      font-size: .32rem;
      color: #C5CAD0;
      letter-spacing: 0;
      font-weight: 400;
    }

    .adm-list-body {
      border: 0;
    }

    .adm-form-item-child {
      height: .7rem;
      padding-bottom: .24rem;
      border-bottom: 1px solid rgba(197, 202, 208, 1);
    }

    .adm-list-item {
      padding-left: 0;
    }

    .adm-list-item-content {
      padding-right: 0;
      border-top: 0;
    }

    .adm-list-item-content-main {
      padding: 0;
    }

    .adm-form-item-required-asterisk {
      display: none;
    }

    .last-item {
      .adm-form-item-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      .adm-list-item-description {
        display: none;
      }
    }

    .adm-form-footer {
      padding-left: 0;
      padding-right: 0;
      padding-top: .2rem;
      padding-bottom: .24rem;
    }
    .adm-checkbox-content{
      padding-left: .16rem;
    }
  }
}