.assets_info {
  background-color: #1C63FF;
  padding: 0 .3rem;
  // min-height: 100vh;
  .assets_info_form {
    background: url('~@/Assets/images/assets/infoBg.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: .5rem 0 .74rem;
    margin-top: .4rem;
    .assets_info_form_head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: DINAlternate-Bold-oz;
      font-weight: 700;
      color: #333333;
      margin-bottom: .4rem;
      .assets_info_form_head_status {
        .iconfont {
          font-size: .9rem;
          &.icon-top { color:#1C63FF; }
          &.icon-chenggong { color:#52C41A; }
          &.icon-shibai { color:#E84335; font-weight: 400; }
        }
      }
      p {
        font-family: inherit;
        font-size: .5rem;
        text-align: center;
        line-height: .58rem;
        margin: .4rem 0 .08rem;
        .iconfont {
          font-size: .44rem;
          margin-right: .12rem;
        }
      }
      span {
        font-family: inherit;
        font-size: .28rem;
        color: #333333;
        text-align: center;
        line-height: .38rem;
        display: block;
      }
    }
    .assets_info_form_ul {
      border-top: 1px dashed #DBDBDB;
      padding-top: .4rem;
      margin-bottom: .3rem;
      li {
        font-size: .28rem;
        line-height: .4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: .24rem;
        &:nth-last-child(1) { margin-bottom: 0; }
        p {
          color: #999999;
          width: 1.4rem;
          margin-right: .3rem;
          flex-grow: 0;
          flex-shrink: 0;
        }
        span {
          color: #333333;
          text-align: right;
          width: 100%;
          display: block;
        }
        .assets_info_form_progress {
          display: flex;
          .adm-progress-bar {
            margin-right: .2rem;
            width: 2.06rem;
            flex-grow: 0;
            flex-shrink: 0;
            // --track-color: '#CDE2FF',
          }
        }
      }
      .assets_info_form_li_money {
        font-family: PingFangSC-Medium-oz;
        font-size: .32rem;
        font-weight: 500;
      }
      .assets_info_form_li_number {
        font-family: PingFangSC-Medium-oz;
        color: #1C63FF;
        font-size: .32rem;
      }
    }
  }
}
.goBrowser {
  display: block;
  font-size: .28rem;
  color: #FFFFFF !important;
  text-align: center;
  margin-top: 2rem;
}