.adm-form .adm-list.adm-list {
  --padding-left: 0;
  --padding-right: 0;
  --border-inner: 0;
  --border-top: 0;
  --border-bottom: 0;
}

.adm-list-item-content-main {
  padding: 0;
}
.adm-form-item-child-position-normal{
  height: 1.02rem;
  border-bottom: 1px solid #E6E6E6 ;
}
.adm-input{
  height: 100%;
}
.adm-form .adm-form-footer{
  padding: 0;
}