.input-box {
  border-radius: .16rem;
  padding: .29rem .24rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
  max-height: .98rem;
  :global(.adm-input-element){
    height: inherit;
    font-size: inherit;
  }
}
.password {
  display: flex;
  align-items: center;
  flex: 1;
  .input {
    flex: auto;
  }
  .eye {
    flex: none;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;
    svg {
      display: block;
      font-size: var(--adm-font-size-7);
    }
  }
}