.home_wrap {
  background-color: var(--public_bg);
  height: calc(100vh - 1.08rem);
  overflow-y: auto;

  .home_banner {
    position: relative;
    width: 100%;
    height: 2.72rem;
    background: url('~@/Assets/images/home/banner.png') no-repeat;
    background-size: cover;
    padding-top: .26rem;
    margin-bottom: .95rem;

    .home_banner_info {
      display: flex;
      align-items: center;

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }

      p {
        font-family: PingFangSC-Medium-oz;
        font-size: .36rem;
        color: #FFF;
        font-weight: 500;
        margin-left: .2rem;
      }
    }

    .home_banner_assets {
      position: absolute;
      left: .3rem;
      bottom: -.75rem;
      width: calc(100% - .6rem);
      display: flex;
      background: #FFFFFF;
      border-radius: .18rem;
      height: 1.9rem;
      padding: .44rem 0;

      li {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          border-right: 1px solid #ccc;
        }

        p {
          font-size: .24rem;
          color: #333333;
          line-height: .32rem;
          margin-bottom: .16rem;

          i {
            font-size: .24rem;
            margin-left: .1rem;
          }

          .icon-biyan {
            font-size: .4rem
          }
        }

        span {
          font-family: DINAlternate-Bold-oz;
          font-size: .46rem;
          color: #333;
          text-align: center;
          font-weight: 700;
          line-height: .52rem;
        }
      }
    }
  }

  .home_news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .7rem;
    background: #FFF;
    border-radius: .1rem;
    padding: 0 .2rem;

    p {
      font-size: .24rem;
      color: #333;
      line-height: .7rem;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    i {
      font-size: .28rem;
      margin-left: .46rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .home_notice {
    padding: .3rem;
    background: #FFFFFF;
    border-radius: .18rem;
    margin-top: .2rem;

    .home_notice_top {
      position: relative;
      width: 100%;
      height: 1.8rem;
      background-image: linear-gradient(257deg, #1C63FF 0%, #8671F2 100%);
      border-radius: .18rem;
      overflow: hidden;
      padding: .4rem;

      .home_notice_top_i {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        z-index: 2;
        display: block;
        opacity: 0.2;
      }

      .home_notice_top_i1 {
        width: 2.04rem;
        height: 2.04rem;
        right: .7rem;
        top: -.8rem;
      }

      .home_notice_top_i2 {
        width: 3rem;
        height: 3rem;
        right: -.1rem;
        top: -.4rem;
      }

      p {
        font-size: .38rem;
        color: #FFF;
        font-weight: 600;
        line-height: .52rem;
        margin-bottom: .07rem;
      }

      span {
        font-size: .24rem;
        color: #FFFFFF;
        line-height: .34rem;
      }
    }

    .home_notice_foo {
      display: flex;
      align-items: center;
      margin-top: .28rem;

      .home_notice_foo_tit {
        font-family: PingFangSC-Medium-oz;
        font-size: .28rem;
        color: #222;
        font-weight: 500;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: .2rem;

        i {
          font-size: .28rem;
        }
      }

      .home_notice_swiper {
        width: calc(100% - 1.4rem);

        .home_notice_swiper_p {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #666;
        }
      }

      a {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}

.currency_list {
  margin-top: .2rem;

  li {
    margin-bottom: .2rem;
    background: #FFF;
    border-radius: .18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .24rem;

    .currency_icon {
      display: flex;
      align-items: center;

      img {
        width: .76rem;
        height: .76rem;
        border-radius: 50%;
      }

      i {
        font-size: .76rem;
      }

      p {
        font-size: .3rem;
        color: #333;
        margin-left: .2rem;
      }
    }

    .currency_money {
      p {
        font-family: DINAlternate-Bold-oz;
        font-size: .32rem;
        color: #333;
        text-align: right;
        font-weight: 700;
        margin-bottom: .1rem;
      }

      span {
        font-family: DINAlternate-Bold-oz;
        font-size: .24rem;
        color: #999;
        text-align: right;
        font-weight: 700;
        display: block;
      }
    }
  }
}