.currency_list {
  margin-top: .2rem;

  li {
    margin-bottom: .2rem;
    background: #FFF;
    border-radius: .18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .24rem;

    .currency_icon {
      display: flex;
      align-items: center;

      img {
        width: .76rem;
        height: .76rem;
        border-radius: 50%;
      }

      i {
        font-size: .76rem;
      }

      p {
        font-size: .3rem;
        color: #333;
        margin-left: .2rem;
      }
    }

    .currency_money {
      p {
        font-family: DINAlternate-Bold-oz;
        font-size: .32rem;
        color: #333;
        text-align: right;
        font-weight: 700;
        margin-bottom: .1rem;
      }

      span {
        font-family: DINAlternate-Bold-oz;
        font-size: .24rem;
        color: #999;
        text-align: right;
        font-weight: 700;
        display: block;
      }
    }
  }
}