._public_head {
  display: flex;
  width: 100%;
  background-color: transparent;
  .iconfont {
    font-size: 12px;
    transform: rotateY(180deg);
    display: inline-block;
  }
  .public_head_tit {
    font-family: PingFangSC-Medium-oz;
    font-size: 17px;
    color: currentColor;
    text-align: center;
    font-weight: 500;
  }
}
.public_head_white {
  .public_head_tit, .iconfont {
    color: currentColor;
  }
}
