
.copy-box{
  padding:.17rem .3rem;
  border-radius: .15rem;
  grid-template-columns: 1fr .57rem;
  column-gap: .43rem;
}
.icon-box{
  display: grid;
  border: 1px solid #c1c1c1;
  place-items: center;
  border-radius: .08rem;
}