// 字体
@font-face{
  font-family:"DINAlternate-Bold-oz";
  src:url("~@/Assets/font/DIN Alternate Bold.ttf");
  font-weight: normal;
  font-style:normal;
}
@font-face{
  font-family:"PingFangSC-Regular-oz";
  src:url("~@/Assets/font/PingFang Regular.ttf");
  font-weight: normal;
  font-style:normal;
}
@font-face{
  font-family:"PingFangSC-Medium-oz";
  src:url("~@/Assets/font/PingFang Medium.ttf");
  font-weight: normal;
  font-style:normal;
}