.assets_detail_record {
  padding: 0 20px;
  background-color: white;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0;
    border-bottom: 1px solid #DBDBDB;
    .assets_detail_record_left {
      display: flex;
      align-items: center;
      img {
        width: .66rem;
        height: .66rem;
        border-radius: 50%;
      }
      .assets_detail_record_left_order {
        margin-left: .24rem;
        width: 2.46rem;
        overflow: hidden;
        p {
          width: 100%;
          white-space: nowrap;
          font-size: .3rem;
          color: #333333;
          line-height: .42rem;
          margin-bottom: .08rem;
        }
        span {
          display: block;
          width: 100%;
          white-space: nowrap;
          font-family: ArialMT;
          font-size: .24rem;
          color: #999999;
          line-height: .28rem;
        }
      }
    }
    .assets_detail_record_right {
      font-family: DINAlternate-Bold-oz;
      font-weight: 700;
      width: 2.06rem;
      overflow: hidden;
      p {
        width: 100%;
        white-space: nowrap;
        font-family: inherit;
        font-size: .32rem;
        color: #333333;
        text-align: right;
        line-height: .38rem;
        margin-bottom: .1rem;
      }
      span {
        width: 100%;
        white-space: nowrap;
        display: block;
        font-family: inherit;
        font-size: .24rem;
        color: #999999;
        text-align: right;
        height: .28rem;
        display: block;
      }
    }
  }
}

.public_filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 .3rem;
  margin-top: .3rem;
  margin-right: -.16rem;
  .public_filter_i {
    flex: 1;
    min-width: 2.2rem;
    height: .7rem;
    background: #F6F6F6;
    border-radius: .08rem;
    padding: 0 .16rem 0 .22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    margin: 0 .16rem .1rem 0;
    p {
      font-size: .26rem;
    }
    i {
      font-size: .24rem;
      margin-left: .2rem;
      transform: rotateZ(90deg);
    }
  }
}