.assets_deposit {
  .assets_deposit_tit {
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 19px;
    margin-top: 52px;
  }
  .assets_deposit_qr {
    background: url('~@/Assets/images/assets/depositBg.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 300px;
    height: 185px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .assets_deposit_qr_info {
      position: relative;
      width: 175px;
      height: 175px;
      display: flex;
      align-items: center;
      justify-content: center;
      .assets_deposit_qr_info_img {
        width: 135px;
        height: 135px;
      }
      .assets_deposit_qr_info_border {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2;
      }
      .assets_deposit_qr_info_border1 {
        top: 0;
        left: 0;
      } 
      .assets_deposit_qr_info_border2 {
        top: 0;
        right: 0;
        transform: rotateZ(90deg);
      } 
      .assets_deposit_qr_info_border3 {
        bottom: 0;
        left: 0;
        transform: rotateZ(270deg);
      } 
      .assets_deposit_qr_info_border4 {
        bottom: 0;
        right: 0;
        transform: rotateZ(180deg);
      } 
    }
  }
}