.notice_w {
  background-color: var(--public_bg);
  min-height: calc(100vh - 49px);
}
.notice_list {
  padding: 10px 0;
  li {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
    .notice_list_tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      p {
        font-family: PingFangSC-Medium-oz;
        font-size: 15px;
        color: #333333;
        font-weight: 500;
      }
      i {
        font-size: 12px;
        color: #999999;
      }
    }
    span {
      font-size: 13px;
      color: #666666;
      text-align: justify;
      line-height: 20px;
    }
  }
}