.notice_w {
  background-color: var(--public_bg);
  min-height: calc(100vh - .98rem);
}

.notice_list {
  padding: .2rem 0;

  li {
    background: #FFF;
    border-radius: .24rem;
    padding: .3rem;
    margin-bottom: .2rem;

    .notice_list_tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .1rem;

      p {
        font-family: PingFangSC-Medium-oz;
        font-size: .3rem;
        color: #333333;
        font-weight: 500;
      }

      i {
        font-size: .24rem;
        color: #999;
      }
    }

    span {
      font-size: .26rem;
      color: #666;
      text-align: justify;
      line-height: .4rem;
    }
  }
}